<h1>Our Entire <%= @category %> Stock:</h1>
<hr>
<table>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Category</th>
	</tr>

	<% @products.each do |product| %>
	<tr>
		<td><%= product.name %></td>
		<td><%= number_to_currency(product.price) %></td>

	</tr>
	<% end %>
</table>
